body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%; /* Unified width */
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.section img {
    width: 20%; /* Ensure images fill their containers */
    height: auto;
}

.section {
    flex: 1; /* Ensures each section flexibly fills half the container width */
    margin: 5px; /* Adds a small margin between sections */
}
